$md1: 1200;
$md2: 979;
$md3: 767;
$md4: 650;
$md5: 480;


$maxWidth: 1280;
$maxWidthContainer: 1280;

$black: #040A0A;
$blue: #43FFD2;
$violet: #7D2253;
$purple: #D978AC;
$white: #ffffff;
$disabled: #555555;
$shadow: #1B000E;
$disabledInput: #212121;
$error: #FF3A44;

$mainColor: #040A0A;
$mainColorHover: #43FFD2;
$mainColorText: #fff;