@import "../../styles/variables";

.button-black {
  background-color: $black;
  padding: 13px 50px;
  border: 0.5px solid $white;
  &:disabled, &[disabled] {
    color: $disabled;
    background-color: transparent;
    border: 0.5px solid $disabled;
  }
  &:active {
    background-color: $blue;
    color: $black;
    box-shadow: 0 0 10px 0 #01281F inset;
  }
  &:focus {
    color: $white;
    background-color: transparent;
    border: 0.5px solid $blue;
  }
  @media (hover: hover) {
      &:hover {
        border-color: transparent;
          background-color: $blue;
          color: $black;
      }
  }
}